<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.biz.blog.dao.BlogDao">
 
 	<select id="selectAll" resultType="BlogVO">
 	SELECT * FROM tbl_blogs
 	ORDER BY bl_date DESC, bl_time DESC</select>
 	<select id="findById"></select>
 	<!-- resultType : 어떤 type으로 데이터를 return할 것인가 -->
 	<select id="findById" resultType="BlogVO">
 		SELECT * FROM tbl_blogs
 		WHERE bl_seq = #{seq}
 	</select>
 	
 	
 	<insert id="insert" parameter="">
 		INSERT INTO tbl_blogs(
 			BL_SEQ,
			BL_USER,
			BL_DATE,
			BL_TIME,
			BL_TITLE,
			BL_CONTENTS
 		) VALUES (
 			SEQ_BLOG.NEXTVAL,
			#{bl_user},
			#{bl_date},
			#{bl_time},
			#{bl_title},
			#{bl_contents}
 		)
 	</insert>
 	<update id="update"></update>
 	
 	
 	<delete id="delete"></delete>
 	BlogDao blogDao = sqlSession.getMapper(BlogDao.class);
 	return blogDao.delete(seq)
 </mapper> 